.table_b{float:left;border-collapse: collapse; border:1px solid #ccc; width:100%;}
.table_b td{border:1px solid #e0e0e0; padding:2px 5px; line-height:22px;}
.item_list td {padding:3px 0px 3px 3px;vertical-align:middle;}
.error{margin:0px 20px;}